body{
  font-family: 'Montserrat', sans-serif;
  background: url(img/texture.jpg);
  background-repeat: repeat;

}

.longline{
  height: 2px;
  width: 100%;
  background: white;
}

.black-container{
  height: 400px;
  width: 100%;
  background: black;
}



@media (max-width: 1080px) {

  h3,h5{
    font-size: 50px;
  }

}
