body{
  font-family: 'Montserrat', sans-serif;
  background: url(img/texture.jpg);
  background-repeat: repeat;
  overflow-y: scroll;
  overflow-x: hidden;
}

#particles-js{
  position: absolute;
  height: 100%;
  width: 100vw;
  top:0;
  left: 0;
}

.longline{
  height: 2px;
  width: 100%;
  background: white;
}

.main-container{
  height: 300px;
  width: 100%;
  font-size: 70px;
  font-family: 'Press Start 2P', cursive;
}

.about{
  text-shadow: 1px 1px black;
  background-color: rgba(0, 0, 0, 0.2);
}


@media (max-width: 1080px) {

  h3,h5{
    font-size: 50px;
  }

}
